@model List<dnc_300_vstda_api.Models.Todo>

@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>TodoList</title>
</head>
<body>
    <h1>Welcome to your Todo List!</h1>
    @foreach (var t in Model)
    {
        <p>@t.Name</p>
    }
</body>
</html>